<div class="row">
    <h2>Salas de Chat</h2>
    <div class="col-md-8 offset-2">
        <ul class="list-group">
            @foreach (var e in ChatRoomsProyect.Controllers.ChatController.Rooms)
            {
                <li class="list-group-item"><a href="~/Chat/Room?room=@e.Key" target="_blank">@e.Value</a></li>
            }
        </ul>
    </div>
</div>